<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/static/favicon.ico" />
    <meta charset="UTF-8"/>
    <title>Dota 2 Heroes Classifier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body id="background" background="/static/images/background.png">
    <h2 align="center"><font color="#AB1010">Check who you are!</font></h2>
    <div id="wrapper">
        <div id="content">
            <form id="load_file" runat="server">
                    <input type='file' id="imgInp" />
                    <img id="loaded_img" src="" alt="image"/>
            </form>
            <form id="calcTflow" action="/calc" method="post">
                <button type="submit" id="btnSubmit">Let me know!</button>
            </form>
            <textarea readonly rows=30 cols=80 id="result"></textarea>
        </div>
        <div id="sidebar">
            <div id="avatar"></div>
            <div id="history"></div>
        </div>
        <div id="cleared"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/js_handler.js"></script>
</body>
</html>