/*Main elements*/

#loaded_img {
	width:100%;
    max-width:400px;

    height:100%;
    max-height:300px;
}

#wrapper {
	margin-right: 0px;
}

#content {
	float: left;
	width: 50%;
}

#sidebar {
	float: right;
	width: 50%;
}

#cleared {
  clear: both;
}