/*Main elements*/

#wrap {
	text-align: center;
	margin: 0px 100px 0px 100px;
	max-width: 1000px;
	margin: 0 auto;
	border: 1px double;
	outline: 1px solid #cc3300;
	outline-offset: -4px;
	border-style: solid;
    border-color: #cc3300;
    background-color: black;
}

#background {
	margin: 0;
	color: white;
	font-family: Trebuchet MS;
    background-repeat: no-repeat;
	margin: 75px;
    background-size: 100%;
    background-attachment: fixed;
    background-color: black;
}

#loaded_img {
	width:100%;
    max-width:400px;

    height:100%;
    max-height:300px;
}

.image-cropper {
    width: 256px;
    height: 256px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border-width: 5px;
    border-color: #AB1010;
    border-style: solid;
    text-align: center;
}

.image-cropper img {
    margin-top: 56px;
}

.button {
	background-color: #AB1010; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: black;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }